.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 24px;
      }
    }
  }
}
